html, body
{
	background-image: url("http://buragezi.com/images/img6/wood-fence-background-amazing-1.jpg");
	height: 100%;
	width: 100%;
}


h3 {color:white;
	margin-top: 30px;
	height: 10%;
	font-family: "Comic Sans";
	font-size: 30pt;
	font-color: white;
	user-select: none;
	text-align: center;
}


#mySVGCanvas {
	border: 1px solid #00f;
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: white;

}




